#all{
    display: flex;
    width: 1330px;
    height: 720px;
}
#left{
    display: flex;
    background-color: #0074C6;
    width: 350px;
    height: 720px;
    align-items:center;
    justify-content:center;
    display: -webkit-flex;  
}
#right{
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    width: 980px;
    height: 720px;
}
#spanx{
    color: #0073C5;
    font-size: 65px;

}
.span1{
    margin-top: 20px;
    color: #666666;
    font-size: 12px;
}
.input1{
    border-color: #666666;
    width: 220px;
    height: 25px;
}